*.o
*.a
*.js
*.md
# *.txt
*.pdf
*.bss
*.uxf
*.out
*.log
*.tmp
*.ABS
*.css
*.jpg
*.png
*.gif
*.xcf
*.html
*.todo
*.data
*.note
*.text
*.json
*.gcda
*.gcno
*.*ABS*
*.comment
*.eh_frame
*.blinkmind
*.note.GNU-stack
*.code-workspace
# old/*
tmp/*
main/*
temp/*
.dist/*
scripts/*
history/*
.vscode/*
ressources/*
test_files/*
side_testing/*
*~
~*
*#
calc
test
\#*
\#*#
tmp.*
temp.c
test.sh
libmy.c
compile
eval_expr
push_that
unit_test
translate
unit_tests
*launcher.c
test_translate
compile_all.sh
example_code.c
old_thoughs_in_c.c
redirect_output.sh
bsq
rush1
rush2
rush3
my_printf
my_runner
my_defender
my_screensaver
test_line
